@font-face {
  font-family: "Great Vibes";
  src: url("../fonts/Great_Vibes/GreatVibes-Regular.eot")
      format("embedded-opentype"),
    url("../fonts/Great_Vibes/GreatVibes-Regular.woff2") format("woff2"),
    url("../fonts/Great_Vibes/GreatVibes-Regular.woff") format("woff"),
    url("../fonts/Great_Vibes/GreatVibes-Regular.ttf") format("truetype");
}

#page-title {
  border: 5px solid rgb(168, 69, 255);
  background-color: #ff5;
  color: #80f;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Great Vibes";
  font-size: 40px;
  font-weight: 800;
}
span {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.center {
  padding-top: 30px;
  text-align: center;
}
li a:visited {
  text-decoration: none;
  color: #80f;
}

#toc-container {
  background-color: #f0c0fc;
}
#toc-bg {
  background-color: rgb(0, 0, 255);
  width: fit-content;
}
#toc {
  /* #FFD700 */
  border: 5px solid #ffd700;
  padding: 50px;
  background-color: #ff5;
  border-radius: 30px;

  color: #80f;
}
#toc h1 {
  cursor: default;
}

#toc li {
  margin-bottom: 5px;
}

li::marker {
  content: "⃝ ";
}
#toc li a {
  text-decoration: none;
}

/* Indentation for multi-level TOC */
#toc li.toc-level-2 {
  margin-left: 15px;
}
#toc li.toc-level-3 {
  margin-left: 30px;
}
#toc li.toc-level-4 {
  margin-left: 45px;
}
#toc li.toc-level-5 {
  margin-left: 60px;
}
#toc li.toc-level-6 {
  margin-left: 75px;
}

h3 {
  margin-left: 30px;
}
h4 {
  margin-left: 60px;
}
h5 {
  margin-left: 90px;
}
h6 {
  margin-left: 120px;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  color: black;
}
